.mpagina-navigation-bar
  img
    width 50px
    display inline
    vertical-align middle
  h1
    font-size 2em
    display inline
    vertical-align middle

.mpagina-nav__list__item
  padding 0

.mpagina-nav__button
  color #454545
  padding 0
  text-decoration none
  display inline-block
  width 100%

.mpagina-nav__button
  span
    font-size 1.5em
    display inline
    vertical-align middle

  img
    display inline
    vertical-align middle
    width 150px
    height 150px

.mpagina-post .header
  img
    width 100%

  .img-footer
    margin-top -70
    margin-right 20px
    color #fff
    text-align right

.mpagina-post .header .img-footer h2, .mpagina-post .header .img-footer h3
  margin-top 0px
  margin-bottom 0px

.mpagina-post .content
  margin 30px 20px 0 20px
  text-align justify
  text-justify inter-word
