.mpagina-navigation-bar {

}
.mpagina-navigation-bar h1 {
  font-size: 2em;
}

.mpagina-nav__list__item {
  padding: 0;
}
.mpagina-nav__button {
  color: #454545;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.mpagina-nav__button span {
  font-size: 1.5em;
  display: inline;
  vertical-align: middle;
}
.mpagina-nav__button img {
  display: inline;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}

.mpagina-post .header img, .mpagina-post .content {
  width: 100%;
}
